/* Next Button */

.next-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .next-button {
    display: inline;
    width: 20px;
    height: 20px;
    transition: font-size 0.2s ease;
  }

  .next-button path {
    fill: var(--font-color);
  }

  .next-button:hover {
    width: 21px;
    height: 21px;
  }

  .next-button path:hover {
    fill: var(--hover-color);
  }
}
