.timer-display {
    padding: 15px 50px;
    font-size: 70px;
    text-align: center;
    border-radius: 10px;
    color: var(--font-color);
    width: 50vw;
    border: 2px solid var(--font-color);
    background-color: black;
}

@media only screen and (min-width: 800px) {
    .timer-display{
        width: 450px;
    }
}

.type-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    font-size: 30px;
    padding: 10px;
    margin-right: 10px;
}

.next-btn{
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.time {
    font-size: 100px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
   .time{
    font-size: 10vh;
   }
}

.center-timer-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
