.time {
  font-size: 100px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .time {
    font-size: 10vh;
  }
}

.center-timer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
