.timer-display {
    padding: 15px 50px;
    font-size: 70px;
    text-align: center;
    border-radius: 10px;
    color: var(--font-color);
    width: 400px;
    border: 2px solid var(--font-color);
    background-color: black;
}