.modal {
  font-size: 12px;
  background-color: black;
  width: 50vw;
  height: 400px;
  margin-top: 200px;
  border-radius: var(--border-radius);
  border: 2px solid var(--font-color);
}
.modal > .header {
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: var(--font-color);
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  color: var(--font-color);
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 8px 5px;
  line-height: 20px;
  right: 5px;
  font-size: 24px;
  background: var(--font-color);
  border: none;
}
