.nav-btn {
  background-color: black;
  color: var(--font-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  padding: 14px 100px;
  border-top: none ;
  border-bottom: 2px solid var(--font-color);
  border-left: 2px solid var(--font-color);
  border-right: 2px solid var(--font-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media only screen and (max-width: 800px){
  .nav-btn{
    width: 100%;
    padding: 14px;
    border:none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.nav-btn:hover {
  color: black;
  background-color: var(--font-color);
}