.label-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 25px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
  border: none;
  color: var(--font-color);
  display: inline;
}

.line {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

@media only screen and (max-width: 800px) {
  .label {
    display: none;
  }
}
