* {
    margin: 0;
}

:root {
    --bg-color:rgba(0, 0, 0, 0.937);
    --font-color: rgba(240, 248, 255, 0.949);
    --hover-color: rgb(128, 131, 134);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color)
}

