* {
  margin: 0;
}
:root {
  --bg-color: #000000ef;
  --font-color: #f8f8ff;
  --hover-color: #808386;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--bs-font-sans-serif);
}
